{
	"root": true,
	"extends": [
		"neon/common",
		"neon/browser",
		"neon/module",
		"neon/no-deprecated",
		"neon/node",
		"neon/typescript",
		"neon/prettier",
		"plugin:prettier/recommended"
	],
	"parserOptions": {
		"project": "./tsconfig.json"
	},
	"rules": {
		"n/no-sync": "off",
		"n/shebang": "off",

		"@typescript-eslint/consistent-type-definitions": "off"
	}
}
